<!DOCTYPE html>
<html>
<head>
    <title>The Brian Moorman Project</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- inject:css -->
    <!-- endinject -->
    <meta name="description" content="">
    <meta property="og:url" content="https://choosemyclothes.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Find Your Best Look" />
    <meta property="og:description" content="Combine pictures of clothes and accessories from yourself, your friends and retail outlets to create collections and find the most popular combinations!" />
    <meta property="og:image" content="https://choosemyclothes.com/img/og_ChooseMyClothes.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Find Your Best Look">
    <meta name="twitter:description" content="Combine pictures of clothes and accessories from yourself, your friends and retail outlets to create collections and find the most popular combinations!">
    <meta name="twitter:image" content="https://choosemyclothes.com/img/og_ChooseMyClothes.png">
    <meta name="twitter:domain" content="https://choosemyclothes.com/">
</head>
<body>
<main>
    <div id="fullpage">
        <div class="section grey darken-4 white-text center-align   ">
            <div class="mug"></div>
            <h1 class="lead tlt" data-in-effect="fadeInUp" data-in-shuffle="true">Brian Moorman </h1>
            <a class="waves-effect waves-light btn">Who is Brian Moorman</a>
            <a class="waves-effect waves-light btn">Take the Quiz</a>
            <a class="waves-effect waves-light btn">Support P.U.N.T.</a>

        </div>
        <div class="section">
            <div class="ct-chart ct-perfect-fourth"></div>
        </div>
        <div class="section">Some section</div>
        <div class="section">Some section</div>
    </div>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    if (typeof jQuery === 'undefined') {
        var script = document.createElement('script');
        script.type = "text/javascript";
        script.src = "/js/jquery.min.js";
        document.getElementsByTagName('head')[0].appendChild(script);
    }
</script>
<!-- inject:js -->
<!-- endinject -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'xxx', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>